In [13]:
import numpy as np

In [14]:

number_experiments = 1000000
cter = 0
rcter = 0
for _ in range(number_experiments):
  cter += np.random.choice([0, 1])
  if cter%2==0 and np.random.choice(range(200)) == 4:
    rcter +=1


cter/number_experiments, rcter/number_experiments

(0.499628, 0.002375)

In [15]:
number_experiments = 1000000
cter = 0
for _ in range(number_experiments):
  cter += np.random.choice([0, 1])

cter/number_experiments

0.500126

In [16]:
number_experiments = 100
cter = 0
for _ in range(number_experiments):
  cter += np.random.choice([0, 1])

cter/number_experiments

0.55

In [17]:
number_experiments = 100
cter = 0
for _ in range(number_experiments):
  cter += np.random.choice([0, 1])

cter/number_experiments

0.47

In [35]:
def pick_in_array(n):

  arr = [0, 1, 2, 3, 4]
  three_count = 0
  one_count = 0
  three_or_one = 0
  curr = 0
  for _ in range(n):
    curr = np.random.choice(arr)
    if curr == 1:
      one_count+=1
    if curr == 3:
      three_count+=1
    if curr in [1, 3]:
        three_or_one +=1

  return one_count/n, three_count/n, three_or_one/n

In [36]:
pick_in_array(100)

(0.23, 0.26, 0.49)

In [41]:
def multiple(n):
  #of 2, of 3, of 2 OR 3, of 2 AND 3
  mul2 = 0
  mul3 = 0
  mul2or3 = 0
  mul2and3 = 0
  curr = 0
  for _ in range(n):
    curr = np.random.randint(n+1) #random int from 0 to n
    if curr%2==0:
      mul2+=1
    if curr%3==0:
      mul3+=1
    if curr%2==0 and curr%3==0:
      mul2and3+=1
    if curr%2==0 or curr%3==0:
      mul2or3+=1

  return mul2or3 == mul2 + mul3 - mul2and3

In [42]:
multiple(100)

True

In [47]:
def three_events(n):
  #of 2, of 3, of 5, of 2 OR 3 OR 5, of 2 AND 3 AND 5, of 3 AND 5, of 2 AND 5, of 2 AND 3
  mul2 = 0
  mul3 = 0
  mul5 = 0
  mul2or3or5 = 0
  mul2and3 = 0
  mul3and5 = 0
  mul2and5 = 0
  mul2and3and5 = 0
  curr = 0
  for _ in range(n):
    curr = np.random.randint(n+1)
    if curr%2==0:
      mul2+=1
    if curr%3==0:
      mul3+=1
    if curr%5==0:
      mul5+=1
    if curr%2==0 and curr%3 == 0:
      mul2and3+=1
    if curr%2==0 and curr%5 == 0:
      mul2and5+=1
    if curr%3==0 and curr%5 == 0:
      mul3and5+=1
    if curr%2==0 and curr%3==0 and curr%5==0:
      mul2and3and5+=1
    if curr%2==0 or curr%3==0 or curr%5==0:
      mul2or3or5+=1
  return mul2or3or5 == mul2 + mul3 + mul5 - mul2and3 - mul2and5 - mul3and5 + mul2and3and5

In [48]:
three_events(100)

True